


body {
    background-color: white;
    text-align: left;
    font-family: 'Viga', sans-serif;
    /*font-family: 'Space Mono', monospace;*/
    font-size: 3.6em;
    color: #fff;
    margin-top: 10px;
  }
  
  
  * { 
    color: black; 
    text-decoration: none;
  }
  
  h1 {
    margin-top: 0;
    font-weight: 100;
  }
  
  @media handheld,
  only screen and (max-width: 767px) {
    
  body {
      font-size: 1.3em;
    }
    
  }
  
  